/.env
/config.json
*.pyc
.build
.idea
local_notes
.env
*.iml
provisioning/.terraform
.vscode
cache-pipelines.code-workspace

coverage-report/
.coverage
derby.log
metastore_db/


pyspark
src/__pycache__
**/__pycache__
**/__pycache__/**

ide_conf_dependencies
build
dist

.pytest_cache/**
.coverage.*
/.idea/
/.ipynb_checkpoints/
/data/*
/model/
/notebooks/.ipynb_checkpoints/
/notebooks/lightning_logs/
/notebooks/mlruns/
/notebooks/spark-warehouse/
/infrastructure/.terraform/
/infrastructure/.terraform.lock.hcl
/venv/
